
body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
  text-align: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 80px;
}
button {
  margin-top: 10px;
  padding: 10px;
}
